{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Annotate{% endblock %}</h1>
{% endblock %}
{% block content %}
  <form method='post'>
    <style>
    .button {
      padding: 4px 8px;
      margin: 4px 2px;
      border-color: gray;
      color: white; 
    }
    .button:hover {
      font-weight : bold; 
    }
    .button_MATERIAL {
      background-color: red; 
    }
    .button_MLIP {
      background-color: blue; 
    }
    .button_PROPERTY {
      background-color: magenta; 
    }
    .button_PHENOMENON {
      background-color: teal; 
    }
    .button_SIMULATION {
      background-color: green; 
    }
    .button_VALUE {
      background-color: indigo; 
    }
    .button_APPLICATION {
      background-color: darkorange; 
    }
    .button_UNSELECT {
      background-color: white; 
      color: black; 
    }
    .button_words {
      background-color: white; 
      color: black; 
    }
    .button_words:hover {
      background-color: yellow; 
    }
    </style>
    <div> 
      <b>Class:&nbsp;</b> 
      <button type='button' class='button button_MATERIAL' onclick='Select_Func("MATERIAL")'>MATERIAL</button>
      <button type='button' class='button button_MLIP' onclick='Select_Func("MLIP")'>MLIP</button> 
      <button type='button' class='button button_PROPERTY' onclick='Select_Func("PROPERTY")'>PROPERTY</button> 
      <button type='button' class='button button_PHENOMENON' onclick='Select_Func("PHENOMENON")'>PHENOMENON</button> 
      <button type='button' class='button button_SIMULATION' onclick='Select_Func("SIMULATION")'>SIMULATION</button> 
      <button type='button' class='button button_VALUE' onclick='Select_Func("VALUE")'>VALUE</button> 
      <button type='button' class='button button_APPLICATION' onclick='Select_Func("APPLICATION")'>APPLICATION</button> 
      <button type='button' class='button button_UNSELECT' onclick='Select_Func("UNSELECT")'>UNSELECT</button> 
    </div>
    <div>
      <button id='0' type='button' class='button button_words' onclick='F("0")'>Machine</button> 
      <button id='1' type='button' class='button button_words' onclick='F("1")'>learning</button> 
      <button id='2' type='button' class='button button_words' onclick='F("2")'>of</button> 
      <button id='3' type='button' class='button button_words' onclick='F("3")'>atomic</button> 
      <button id='4' type='button' class='button button_words' onclick='F("4")'>-</button> 
      <button id='5' type='button' class='button button_words' onclick='F("5")'>scale</button> 
      <button id='6' type='button' class='button button_words' onclick='F("6")'>properties</button> 
      <button id='7' type='button' class='button button_words' onclick='F("7")'>is</button> 
      <button id='8' type='button' class='button button_words' onclick='F("8")'>revolutionizing</button> 
      <button id='9' type='button' class='button button_words' onclick='F("9")'>molecular</button> 
      <button id='10' type='button' class='button button_words' onclick='F("10")'>modeling</button> 
      <button id='11' type='button' class='button button_words' onclick='F("11")'>,</button> 
      <button id='12' type='button' class='button button_words' onclick='F("12")'>making</button> 
      <button id='13' type='button' class='button button_words' onclick='F("13")'>it</button> 
      <button id='14' type='button' class='button button_words' onclick='F("14")'>possible</button> 
      <button id='15' type='button' class='button button_words' onclick='F("15")'>to</button> 
      <button id='16' type='button' class='button button_words' onclick='F("16")'>evaluate</button> 
      <button id='17' type='button' class='button button_words' onclick='F("17")'>inter</button> 
      <button id='18' type='button' class='button button_words' onclick='F("18")'>-</button> 
      <button id='19' type='button' class='button button_words' onclick='F("19")'>atomic</button> 
      <button id='20' type='button' class='button button_words' onclick='F("20")'>potentials</button> 
      <button id='21' type='button' class='button button_words' onclick='F("21")'>with</button> 
      <button id='22' type='button' class='button button_words' onclick='F("22")'>first</button> 
      <button id='23' type='button' class='button button_words' onclick='F("23")'>-</button> 
      <button id='24' type='button' class='button button_words' onclick='F("24")'>principles</button> 
      <button id='25' type='button' class='button button_words' onclick='F("25")'>accuracy</button> 
      <button id='26' type='button' class='button button_words' onclick='F("26")'>,</button> 
      <button id='27' type='button' class='button button_words' onclick='F("27")'>at</button> 
      <button id='28' type='button' class='button button_words' onclick='F("28")'>a</button> 
      <button id='29' type='button' class='button button_words' onclick='F("29")'>fraction</button> 
      <button id='30' type='button' class='button button_words' onclick='F("30")'>of</button> 
      <button id='31' type='button' class='button button_words' onclick='F("31")'>the</button> 
      <button id='32' type='button' class='button button_words' onclick='F("32")'>costs</button> 
      <button id='33' type='button' class='button button_words' onclick='F("33")'>.</button> 
      <button id='34' type='button' class='button button_words' onclick='F("34")'>The</button> 
      <button id='35' type='button' class='button button_words' onclick='F("35")'>accuracy</button> 
      <button id='36' type='button' class='button button_words' onclick='F("36")'>,</button> 
      <button id='37' type='button' class='button button_words' onclick='F("37")'>speed</button> 
      <button id='38' type='button' class='button button_words' onclick='F("38")'>,</button> 
      <button id='39' type='button' class='button button_words' onclick='F("39")'>and</button> 
      <button id='40' type='button' class='button button_words' onclick='F("40")'>reliability</button> 
      <button id='41' type='button' class='button button_words' onclick='F("41")'>of</button> 
      <button id='42' type='button' class='button button_words' onclick='F("42")'>machine</button> 
      <button id='43' type='button' class='button button_words' onclick='F("43")'>learning</button> 
      <button id='44' type='button' class='button button_words' onclick='F("44")'>potentials</button> 
      <button id='45' type='button' class='button button_words' onclick='F("45")'>,</button> 
      <button id='46' type='button' class='button button_words' onclick='F("46")'>however</button> 
      <button id='47' type='button' class='button button_words' onclick='F("47")'>,</button> 
      <button id='48' type='button' class='button button_words' onclick='F("48")'>depend</button> 
      <button id='49' type='button' class='button button_words' onclick='F("49")'>strongly</button> 
      <button id='50' type='button' class='button button_words' onclick='F("50")'>on</button> 
      <button id='51' type='button' class='button button_words' onclick='F("51")'>the</button> 
      <button id='52' type='button' class='button button_words' onclick='F("52")'>way</button> 
      <button id='53' type='button' class='button button_words' onclick='F("53")'>atomic</button> 
      <button id='54' type='button' class='button button_words' onclick='F("54")'>configurations</button> 
      <button id='55' type='button' class='button button_words' onclick='F("55")'>are</button> 
      <button id='56' type='button' class='button button_words' onclick='F("56")'>represented</button> 
      <button id='57' type='button' class='button button_words' onclick='F("57")'>,</button> 
      <button id='58' type='button' class='button button_words' onclick='F("58")'>i</button> 
      <button id='59' type='button' class='button button_words' onclick='F("59")'>.</button> 
      <button id='60' type='button' class='button button_words' onclick='F("60")'>e</button> 
      <button id='61' type='button' class='button button_words' onclick='F("61")'>.</button> 
      <button id='62' type='button' class='button button_words' onclick='F("62")'>,</button> 
      <button id='63' type='button' class='button button_words' onclick='F("63")'>the</button> 
      <button id='64' type='button' class='button button_words' onclick='F("64")'>choice</button> 
      <button id='65' type='button' class='button button_words' onclick='F("65")'>of</button> 
      <button id='66' type='button' class='button button_words' onclick='F("66")'>descriptors</button> 
      <button id='67' type='button' class='button button_words' onclick='F("67")'>used</button> 
      <button id='68' type='button' class='button button_words' onclick='F("68")'>as</button> 
      <button id='69' type='button' class='button button_words' onclick='F("69")'>input</button> 
      <button id='70' type='button' class='button button_words' onclick='F("70")'>for</button> 
      <button id='71' type='button' class='button button_words' onclick='F("71")'>the</button> 
      <button id='72' type='button' class='button button_words' onclick='F("72")'>machine</button> 
      <button id='73' type='button' class='button button_words' onclick='F("73")'>learning</button> 
      <button id='74' type='button' class='button button_words' onclick='F("74")'>method</button> 
      <button id='75' type='button' class='button button_words' onclick='F("75")'>.</button> 
      <button id='76' type='button' class='button button_words' onclick='F("76")'>The</button> 
      <button id='77' type='button' class='button button_words' onclick='F("77")'>raw</button> 
      <button id='78' type='button' class='button button_words' onclick='F("78")'>Cartesian</button> 
      <button id='79' type='button' class='button button_words' onclick='F("79")'>coordinates</button> 
      <button id='80' type='button' class='button button_words' onclick='F("80")'>are</button> 
      <button id='81' type='button' class='button button_words' onclick='F("81")'>typically</button> 
      <button id='82' type='button' class='button button_words' onclick='F("82")'>transformed</button> 
      <button id='83' type='button' class='button button_words' onclick='F("83")'>in</button> 
      <button id='84' type='button' class='button button_words' onclick='F("84")'>fingerprints</button> 
      <button id='85' type='button' class='button button_words' onclick='F("85")'>,</button> 
      <button id='86' type='button' class='button button_words' onclick='F("86")'>or</button> 
      <button id='87' type='button' class='button button_words' onclick='F("87")'>symmetry</button> 
      <button id='88' type='button' class='button button_words' onclick='F("88")'>functions</button> 
      <button id='89' type='button' class='button button_words' onclick='F("89")'>,</button> 
      <button id='90' type='button' class='button button_words' onclick='F("90")'>that</button> 
      <button id='91' type='button' class='button button_words' onclick='F("91")'>are</button> 
      <button id='92' type='button' class='button button_words' onclick='F("92")'>designed</button> 
      <button id='93' type='button' class='button button_words' onclick='F("93")'>to</button> 
      <button id='94' type='button' class='button button_words' onclick='F("94")'>encode</button> 
      <button id='95' type='button' class='button button_words' onclick='F("95")'>,</button> 
      <button id='96' type='button' class='button button_words' onclick='F("96")'>in</button> 
      <button id='97' type='button' class='button button_words' onclick='F("97")'>addition</button> 
      <button id='98' type='button' class='button button_words' onclick='F("98")'>to</button> 
      <button id='99' type='button' class='button button_words' onclick='F("99")'>the</button> 
      <button id='100' type='button' class='button button_words' onclick='F("100")'>structure</button> 
      <button id='101' type='button' class='button button_words' onclick='F("101")'>,</button> 
      <button id='102' type='button' class='button button_words' onclick='F("102")'>important</button> 
      <button id='103' type='button' class='button button_words' onclick='F("103")'>properties</button> 
      <button id='104' type='button' class='button button_words' onclick='F("104")'>of</button> 
      <button id='105' type='button' class='button button_words' onclick='F("105")'>the</button> 
      <button id='106' type='button' class='button button_words' onclick='F("106")'>potential</button> 
      <button id='107' type='button' class='button button_words' onclick='F("107")'>energy</button> 
      <button id='108' type='button' class='button button_words' onclick='F("108")'>surface</button> 
      <button id='109' type='button' class='button button_words' onclick='F("109")'>like</button> 
      <button id='110' type='button' class='button button_words' onclick='F("110")'>its</button> 
      <button id='111' type='button' class='button button_words' onclick='F("111")'>invariances</button> 
      <button id='112' type='button' class='button button_words' onclick='F("112")'>with</button> 
      <button id='113' type='button' class='button button_words' onclick='F("113")'>respect</button> 
      <button id='114' type='button' class='button button_words' onclick='F("114")'>to</button> 
      <button id='115' type='button' class='button button_words' onclick='F("115")'>rotation</button> 
      <button id='116' type='button' class='button button_words' onclick='F("116")'>,</button> 
      <button id='117' type='button' class='button button_words' onclick='F("117")'>translation</button> 
      <button id='118' type='button' class='button button_words' onclick='F("118")'>,</button> 
      <button id='119' type='button' class='button button_words' onclick='F("119")'>and</button> 
      <button id='120' type='button' class='button button_words' onclick='F("120")'>permutation</button> 
      <button id='121' type='button' class='button button_words' onclick='F("121")'>of</button> 
      <button id='122' type='button' class='button button_words' onclick='F("122")'>like</button> 
      <button id='123' type='button' class='button button_words' onclick='F("123")'>atoms</button> 
      <button id='124' type='button' class='button button_words' onclick='F("124")'>.</button> 
      <button id='125' type='button' class='button button_words' onclick='F("125")'>Here</button> 
      <button id='126' type='button' class='button button_words' onclick='F("126")'>we</button> 
      <button id='127' type='button' class='button button_words' onclick='F("127")'>discuss</button> 
      <button id='128' type='button' class='button button_words' onclick='F("128")'>automatic</button> 
      <button id='129' type='button' class='button button_words' onclick='F("129")'>protocols</button> 
      <button id='130' type='button' class='button button_words' onclick='F("130")'>to</button> 
      <button id='131' type='button' class='button button_words' onclick='F("131")'>select</button> 
      <button id='132' type='button' class='button button_words' onclick='F("132")'>a</button> 
      <button id='133' type='button' class='button button_words' onclick='F("133")'>number</button> 
      <button id='134' type='button' class='button button_words' onclick='F("134")'>of</button> 
      <button id='135' type='button' class='button button_words' onclick='F("135")'>fingerprints</button> 
      <button id='136' type='button' class='button button_words' onclick='F("136")'>out</button> 
      <button id='137' type='button' class='button button_words' onclick='F("137")'>of</button> 
      <button id='138' type='button' class='button button_words' onclick='F("138")'>a</button> 
      <button id='139' type='button' class='button button_words' onclick='F("139")'>large</button> 
      <button id='140' type='button' class='button button_words' onclick='F("140")'>pool</button> 
      <button id='141' type='button' class='button button_words' onclick='F("141")'>of</button> 
      <button id='142' type='button' class='button button_words' onclick='F("142")'>candidates</button> 
      <button id='143' type='button' class='button button_words' onclick='F("143")'>,</button> 
      <button id='144' type='button' class='button button_words' onclick='F("144")'>based</button> 
      <button id='145' type='button' class='button button_words' onclick='F("145")'>on</button> 
      <button id='146' type='button' class='button button_words' onclick='F("146")'>the</button> 
      <button id='147' type='button' class='button button_words' onclick='F("147")'>correlations</button> 
      <button id='148' type='button' class='button button_words' onclick='F("148")'>that</button> 
      <button id='149' type='button' class='button button_words' onclick='F("149")'>are</button> 
      <button id='150' type='button' class='button button_words' onclick='F("150")'>intrinsic</button> 
      <button id='151' type='button' class='button button_words' onclick='F("151")'>to</button> 
      <button id='152' type='button' class='button button_words' onclick='F("152")'>the</button> 
      <button id='153' type='button' class='button button_words' onclick='F("153")'>training</button> 
      <button id='154' type='button' class='button button_words' onclick='F("154")'>data</button> 
      <button id='155' type='button' class='button button_words' onclick='F("155")'>.</button> 
      <button id='156' type='button' class='button button_words' onclick='F("156")'>This</button> 
      <button id='157' type='button' class='button button_words' onclick='F("157")'>procedure</button> 
      <button id='158' type='button' class='button button_words' onclick='F("158")'>can</button> 
      <button id='159' type='button' class='button button_words' onclick='F("159")'>greatly</button> 
      <button id='160' type='button' class='button button_words' onclick='F("160")'>simplify</button> 
      <button id='161' type='button' class='button button_words' onclick='F("161")'>the</button> 
      <button id='162' type='button' class='button button_words' onclick='F("162")'>construction</button> 
      <button id='163' type='button' class='button button_words' onclick='F("163")'>of</button> 
      <button id='164' type='button' class='button button_words' onclick='F("164")'>neural</button> 
      <button id='165' type='button' class='button button_words' onclick='F("165")'>network</button> 
      <button id='166' type='button' class='button button_words' onclick='F("166")'>potentials</button> 
      <button id='167' type='button' class='button button_words' onclick='F("167")'>that</button> 
      <button id='168' type='button' class='button button_words' onclick='F("168")'>strike</button> 
      <button id='169' type='button' class='button button_words' onclick='F("169")'>the</button> 
      <button id='170' type='button' class='button button_words' onclick='F("170")'>best</button> 
      <button id='171' type='button' class='button button_words' onclick='F("171")'>balance</button> 
      <button id='172' type='button' class='button button_words' onclick='F("172")'>between</button> 
      <button id='173' type='button' class='button button_words' onclick='F("173")'>accuracy</button> 
      <button id='174' type='button' class='button button_words' onclick='F("174")'>and</button> 
      <button id='175' type='button' class='button button_words' onclick='F("175")'>computational</button> 
      <button id='176' type='button' class='button button_words' onclick='F("176")'>efficiency</button> 
      <button id='177' type='button' class='button button_words' onclick='F("177")'>and</button> 
      <button id='178' type='button' class='button button_words' onclick='F("178")'>has</button> 
      <button id='179' type='button' class='button button_words' onclick='F("179")'>the</button> 
      <button id='180' type='button' class='button button_words' onclick='F("180")'>potential</button> 
      <button id='181' type='button' class='button button_words' onclick='F("181")'>to</button> 
      <button id='182' type='button' class='button button_words' onclick='F("182")'>accelerate</button> 
      <button id='183' type='button' class='button button_words' onclick='F("183")'>by</button> 
      <button id='184' type='button' class='button button_words' onclick='F("184")'>orders</button> 
      <button id='185' type='button' class='button button_words' onclick='F("185")'>of</button> 
      <button id='186' type='button' class='button button_words' onclick='F("186")'>magnitude</button> 
      <button id='187' type='button' class='button button_words' onclick='F("187")'>the</button> 
      <button id='188' type='button' class='button button_words' onclick='F("188")'>evaluation</button> 
      <button id='189' type='button' class='button button_words' onclick='F("189")'>of</button> 
      <button id='190' type='button' class='button button_words' onclick='F("190")'>Gaussian</button> 
      <button id='191' type='button' class='button button_words' onclick='F("191")'>approximation</button> 
      <button id='192' type='button' class='button button_words' onclick='F("192")'>potentials</button> 
      <button id='193' type='button' class='button button_words' onclick='F("193")'>based</button> 
      <button id='194' type='button' class='button button_words' onclick='F("194")'>on</button> 
      <button id='195' type='button' class='button button_words' onclick='F("195")'>the</button> 
      <button id='196' type='button' class='button button_words' onclick='F("196")'>smooth</button> 
      <button id='197' type='button' class='button button_words' onclick='F("197")'>overlap</button> 
      <button id='198' type='button' class='button button_words' onclick='F("198")'>of</button> 
      <button id='199' type='button' class='button button_words' onclick='F("199")'>atomic</button> 
      <button id='200' type='button' class='button button_words' onclick='F("200")'>positions</button> 
      <button id='201' type='button' class='button button_words' onclick='F("201")'>kernel</button> 
      <button id='202' type='button' class='button button_words' onclick='F("202")'>.</button> 
      <button id='203' type='button' class='button button_words' onclick='F("203")'>We</button> 
      <button id='204' type='button' class='button button_words' onclick='F("204")'>present</button> 
      <button id='205' type='button' class='button button_words' onclick='F("205")'>applications</button> 
      <button id='206' type='button' class='button button_words' onclick='F("206")'>to</button> 
      <button id='207' type='button' class='button button_words' onclick='F("207")'>the</button> 
      <button id='208' type='button' class='button button_words' onclick='F("208")'>construction</button> 
      <button id='209' type='button' class='button button_words' onclick='F("209")'>of</button> 
      <button id='210' type='button' class='button button_words' onclick='F("210")'>neural</button> 
      <button id='211' type='button' class='button button_words' onclick='F("211")'>network</button> 
      <button id='212' type='button' class='button button_words' onclick='F("212")'>potentials</button> 
      <button id='213' type='button' class='button button_words' onclick='F("213")'>for</button> 
      <button id='214' type='button' class='button button_words' onclick='F("214")'>water</button> 
      <button id='215' type='button' class='button button_words' onclick='F("215")'>and</button> 
      <button id='216' type='button' class='button button_words' onclick='F("216")'>for</button> 
      <button id='217' type='button' class='button button_words' onclick='F("217")'>an</button> 
      <button id='218' type='button' class='button button_words' onclick='F("218")'>Al</button> 
      <button id='219' type='button' class='button button_words' onclick='F("219")'>–</button> 
      <button id='220' type='button' class='button button_words' onclick='F("220")'>Mg</button> 
      <button id='221' type='button' class='button button_words' onclick='F("221")'>–</button> 
      <button id='222' type='button' class='button button_words' onclick='F("222")'>Si</button> 
      <button id='223' type='button' class='button button_words' onclick='F("223")'>alloy</button> 
      <button id='224' type='button' class='button button_words' onclick='F("224")'>and</button> 
      <button id='225' type='button' class='button button_words' onclick='F("225")'>to</button> 
      <button id='226' type='button' class='button button_words' onclick='F("226")'>the</button> 
      <button id='227' type='button' class='button button_words' onclick='F("227")'>prediction</button> 
      <button id='228' type='button' class='button button_words' onclick='F("228")'>of</button> 
      <button id='229' type='button' class='button button_words' onclick='F("229")'>the</button> 
      <button id='230' type='button' class='button button_words' onclick='F("230")'>formation</button> 
      <button id='231' type='button' class='button button_words' onclick='F("231")'>energies</button> 
      <button id='232' type='button' class='button button_words' onclick='F("232")'>of</button> 
      <button id='233' type='button' class='button button_words' onclick='F("233")'>small</button> 
      <button id='234' type='button' class='button button_words' onclick='F("234")'>organic</button> 
      <button id='235' type='button' class='button button_words' onclick='F("235")'>molecules</button> 
      <button id='236' type='button' class='button button_words' onclick='F("236")'>using</button> 
      <button id='237' type='button' class='button button_words' onclick='F("237")'>Gaussian</button> 
      <button id='238' type='button' class='button button_words' onclick='F("238")'>process</button> 
      <button id='239' type='button' class='button button_words' onclick='F("239")'>regression</button> 
      <button id='240' type='button' class='button button_words' onclick='F("240")'>.</button> 
    </div>
    <button type='button' style='width:200px;margin-top:20px;' onclick='show_existing_annotation({{annotation_exist}})'>Load annotation</button>
    <button type='button' style='width:200px;margin-top:10px;' onclick='saveAnnotation()'>Generate annotation</button>
    <input style='width:700px;margin-top:10px;' type='text' id='show' value=''/>
    <button type='button' onclick='copyAnnotation()' style='width:200px;'>Copy annotation</button>
    <a style='margin-top:20px;'class='action' href='{{ url_for("mlip.update", id=ID) }}'>Finish</a>
    <script>
    const annotation = {};
    function Select_Func(Class) {
      if  (Class === 'MATERIAL') F = Func_MATERIAL
      if  (Class === 'MLIP') F = Func_MLIP
      if  (Class === 'PROPERTY') F = Func_PROPERTY
      if  (Class === 'PHENOMENON') F = Func_PHENOMENON
      if  (Class === 'SIMULATION') F = Func_SIMULATION
      if  (Class === 'VALUE') F = Func_VALUE
      if  (Class === 'APPLICATION') F = Func_APPLICATION
      if  (Class === 'UNSELECT') F = Func_UNSELECT
    }
    function Func_MATERIAL(id) {
      document.getElementById(id).style.backgroundColor = 'red';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'MATERIAL';
    }
    function Func_MLIP(id) {
      document.getElementById(id).style.backgroundColor = 'blue';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'MLIP';
    }
    function Func_PROPERTY(id) {
      document.getElementById(id).style.backgroundColor = 'magenta';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'PROPERTY';
    }
    function Func_PHENOMENON(id) {
      document.getElementById(id).style.backgroundColor = 'teal';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'PHENOMENON';
    }
    function Func_SIMULATION(id) {
      document.getElementById(id).style.backgroundColor = 'green';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'SIMULATION';
    }
    function Func_VALUE(id) {
      document.getElementById(id).style.backgroundColor = 'indigo';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'VALUE';
    }
    function Func_APPLICATION(id) {
      document.getElementById(id).style.backgroundColor = 'darkorange';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'APPLICATION';
    }
    function Func_UNSELECT(id) {
      document.getElementById(id).style.backgroundColor = 'white';
      document.getElementById(id).style.color = 'black';
      delete annotation[id];
    }
    function show_existing_annotation(anno) {
      for (let [key, Class] of Object.entries(anno)) {
          Select_Func(Class);
          F(key);
      }
    }
    function saveAnnotation() {
      var anno = JSON.stringify(annotation);
      document.getElementById('show').value = anno;
    }
    function copyAnnotation() {
      var copyText = document.getElementById('show');
      copyText.select();
      navigator.clipboard.writeText(copyText.value);
    }
    </script>
  </form>
{% endblock %}
