{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Annotate{% endblock %}</h1>
{% endblock %}
{% block content %}
  <form method='post'>
    <style>
    .button {
      padding: 4px 8px;
      margin: 4px 2px;
      border-color: gray;
      color: white; 
    }
    .button:hover {
      font-weight : bold; 
    }
    .button_MATERIAL {
      background-color: red; 
    }
    .button_MLIP {
      background-color: blue; 
    }
    .button_PROPERTY {
      background-color: magenta; 
    }
    .button_PHENOMENON {
      background-color: teal; 
    }
    .button_SIMULATION {
      background-color: green; 
    }
    .button_VALUE {
      background-color: indigo; 
    }
    .button_APPLICATION {
      background-color: darkorange; 
    }
    .button_UNSELECT {
      background-color: white; 
      color: black; 
    }
    .button_words {
      background-color: white; 
      color: black; 
    }
    .button_words:hover {
      background-color: yellow; 
    }
    </style>
    <div> 
      <b>Class:&nbsp;</b> 
      <button type='button' class='button button_MATERIAL' onclick='Select_Func("MATERIAL")'>MATERIAL</button>
      <button type='button' class='button button_MLIP' onclick='Select_Func("MLIP")'>MLIP</button> 
      <button type='button' class='button button_PROPERTY' onclick='Select_Func("PROPERTY")'>PROPERTY</button> 
      <button type='button' class='button button_PHENOMENON' onclick='Select_Func("PHENOMENON")'>PHENOMENON</button> 
      <button type='button' class='button button_SIMULATION' onclick='Select_Func("SIMULATION")'>SIMULATION</button> 
      <button type='button' class='button button_VALUE' onclick='Select_Func("VALUE")'>VALUE</button> 
      <button type='button' class='button button_APPLICATION' onclick='Select_Func("APPLICATION")'>APPLICATION</button> 
      <button type='button' class='button button_UNSELECT' onclick='Select_Func("UNSELECT")'>UNSELECT</button> 
    </div>
    <div>
      <button id='0' type='button' class='button button_words' onclick='F("0")'>The</button> 
      <button id='1' type='button' class='button button_words' onclick='F("1")'>local</button> 
      <button id='2' type='button' class='button button_words' onclick='F("2")'>density</button> 
      <button id='3' type='button' class='button button_words' onclick='F("3")'>of</button> 
      <button id='4' type='button' class='button button_words' onclick='F("4")'>states</button> 
      <button id='5' type='button' class='button button_words' onclick='F("5")'>(</button> 
      <button id='6' type='button' class='button button_words' onclick='F("6")'>LDOS</button> 
      <button id='7' type='button' class='button button_words' onclick='F("7")'>)</button> 
      <button id='8' type='button' class='button button_words' onclick='F("8")'>of</button> 
      <button id='9' type='button' class='button button_words' onclick='F("9")'>electromagnetic</button> 
      <button id='10' type='button' class='button button_words' onclick='F("10")'>field</button> 
      <button id='11' type='button' class='button button_words' onclick='F("11")'>drives</button> 
      <button id='12' type='button' class='button button_words' onclick='F("12")'>many</button> 
      <button id='13' type='button' class='button button_words' onclick='F("13")'>basic</button> 
      <button id='14' type='button' class='button button_words' onclick='F("14")'>processes</button> 
      <button id='15' type='button' class='button button_words' onclick='F("15")'>associated</button> 
      <button id='16' type='button' class='button button_words' onclick='F("16")'>with</button> 
      <button id='17' type='button' class='button button_words' onclick='F("17")'>light</button> 
      <button id='18' type='button' class='button button_words' onclick='F("18")'>-</button> 
      <button id='19' type='button' class='button button_words' onclick='F("19")'>matter</button> 
      <button id='20' type='button' class='button button_words' onclick='F("20")'>interaction</button> 
      <button id='21' type='button' class='button button_words' onclick='F("21")'>such</button> 
      <button id='22' type='button' class='button button_words' onclick='F("22")'>as</button> 
      <button id='23' type='button' class='button button_words' onclick='F("23")'>the</button> 
      <button id='24' type='button' class='button button_words' onclick='F("24")'>thermal</button> 
      <button id='25' type='button' class='button button_words' onclick='F("25")'>emission</button> 
      <button id='26' type='button' class='button button_words' onclick='F("26")'>of</button> 
      <button id='27' type='button' class='button button_words' onclick='F("27")'>objects</button> 
      <button id='28' type='button' class='button button_words' onclick='F("28")'>,</button> 
      <button id='29' type='button' class='button button_words' onclick='F("29")'>the</button> 
      <button id='30' type='button' class='button button_words' onclick='F("30")'>spontaneous</button> 
      <button id='31' type='button' class='button button_words' onclick='F("31")'>emission</button> 
      <button id='32' type='button' class='button button_words' onclick='F("32")'>of</button> 
      <button id='33' type='button' class='button button_words' onclick='F("33")'>quantum</button> 
      <button id='34' type='button' class='button button_words' onclick='F("34")'>systems</button> 
      <button id='35' type='button' class='button button_words' onclick='F("35")'>,</button> 
      <button id='36' type='button' class='button button_words' onclick='F("36")'>or</button> 
      <button id='37' type='button' class='button button_words' onclick='F("37")'>the</button> 
      <button id='38' type='button' class='button button_words' onclick='F("38")'>fluctuation</button> 
      <button id='39' type='button' class='button button_words' onclick='F("39")'>-</button> 
      <button id='40' type='button' class='button button_words' onclick='F("40")'>induced</button> 
      <button id='41' type='button' class='button button_words' onclick='F("41")'>electromagnetic</button> 
      <button id='42' type='button' class='button button_words' onclick='F("42")'>forces</button> 
      <button id='43' type='button' class='button button_words' onclick='F("43")'>on</button> 
      <button id='44' type='button' class='button button_words' onclick='F("44")'>molecules</button> 
      <button id='45' type='button' class='button button_words' onclick='F("45")'>.</button> 
      <button id='46' type='button' class='button button_words' onclick='F("46")'>Here</button> 
      <button id='47' type='button' class='button button_words' onclick='F("47")'>,</button> 
      <button id='48' type='button' class='button button_words' onclick='F("48")'>we</button> 
      <button id='49' type='button' class='button button_words' onclick='F("49")'>study</button> 
      <button id='50' type='button' class='button button_words' onclick='F("50")'>the</button> 
      <button id='51' type='button' class='button button_words' onclick='F("51")'>LDOS</button> 
      <button id='52' type='button' class='button button_words' onclick='F("52")'>in</button> 
      <button id='53' type='button' class='button button_words' onclick='F("53")'>the</button> 
      <button id='54' type='button' class='button button_words' onclick='F("54")'>close</button> 
      <button id='55' type='button' class='button button_words' onclick='F("55")'>vicinity</button> 
      <button id='56' type='button' class='button button_words' onclick='F("56")'>of</button> 
      <button id='57' type='button' class='button button_words' onclick='F("57")'>magneto</button> 
      <button id='58' type='button' class='button button_words' onclick='F("58")'>-</button> 
      <button id='59' type='button' class='button button_words' onclick='F("59")'>optical</button> 
      <button id='60' type='button' class='button button_words' onclick='F("60")'>metamaterials</button> 
      <button id='61' type='button' class='button button_words' onclick='F("61")'>under</button> 
      <button id='62' type='button' class='button button_words' onclick='F("62")'>the</button> 
      <button id='63' type='button' class='button button_words' onclick='F("63")'>influence</button> 
      <button id='64' type='button' class='button button_words' onclick='F("64")'>of</button> 
      <button id='65' type='button' class='button button_words' onclick='F("65")'>an</button> 
      <button id='66' type='button' class='button button_words' onclick='F("66")'>external</button> 
      <button id='67' type='button' class='button button_words' onclick='F("67")'>magnetic</button> 
      <button id='68' type='button' class='button button_words' onclick='F("68")'>field</button> 
      <button id='69' type='button' class='button button_words' onclick='F("69")'>and</button> 
      <button id='70' type='button' class='button button_words' onclick='F("70")'>demonstrate</button> 
      <button id='71' type='button' class='button button_words' onclick='F("71")'>that</button> 
      <button id='72' type='button' class='button button_words' onclick='F("72")'>it</button> 
      <button id='73' type='button' class='button button_words' onclick='F("73")'>can</button> 
      <button id='74' type='button' class='button button_words' onclick='F("74")'>be</button> 
      <button id='75' type='button' class='button button_words' onclick='F("75")'>efficiently</button> 
      <button id='76' type='button' class='button button_words' onclick='F("76")'>altered</button> 
      <button id='77' type='button' class='button button_words' onclick='F("77")'>in</button> 
      <button id='78' type='button' class='button button_words' onclick='F("78")'>a</button> 
      <button id='79' type='button' class='button button_words' onclick='F("79")'>narrow</button> 
      <button id='80' type='button' class='button button_words' onclick='F("80")'>or</button> 
      <button id='81' type='button' class='button button_words' onclick='F("81")'>a</button> 
      <button id='82' type='button' class='button button_words' onclick='F("82")'>broad</button> 
      <button id='83' type='button' class='button button_words' onclick='F("83")'>spectral</button> 
      <button id='84' type='button' class='button button_words' onclick='F("84")'>range</button> 
      <button id='85' type='button' class='button button_words' onclick='F("85")'>simply</button> 
      <button id='86' type='button' class='button button_words' onclick='F("86")'>by</button> 
      <button id='87' type='button' class='button button_words' onclick='F("87")'>changing</button> 
      <button id='88' type='button' class='button button_words' onclick='F("88")'>the</button> 
      <button id='89' type='button' class='button button_words' onclick='F("89")'>spatial</button> 
      <button id='90' type='button' class='button button_words' onclick='F("90")'>orientation</button> 
      <button id='91' type='button' class='button button_words' onclick='F("91")'>or</button> 
      <button id='92' type='button' class='button button_words' onclick='F("92")'>the</button> 
      <button id='93' type='button' class='button button_words' onclick='F("93")'>magnitude</button> 
      <button id='94' type='button' class='button button_words' onclick='F("94")'>of</button> 
      <button id='95' type='button' class='button button_words' onclick='F("95")'>this</button> 
      <button id='96' type='button' class='button button_words' onclick='F("96")'>field</button> 
      <button id='97' type='button' class='button button_words' onclick='F("97")'>.</button> 
      <button id='98' type='button' class='button button_words' onclick='F("98")'>This</button> 
      <button id='99' type='button' class='button button_words' onclick='F("99")'>result</button> 
      <button id='100' type='button' class='button button_words' onclick='F("100")'>paves</button> 
      <button id='101' type='button' class='button button_words' onclick='F("101")'>the</button> 
      <button id='102' type='button' class='button button_words' onclick='F("102")'>way</button> 
      <button id='103' type='button' class='button button_words' onclick='F("103")'>for</button> 
      <button id='104' type='button' class='button button_words' onclick='F("104")'>an</button> 
      <button id='105' type='button' class='button button_words' onclick='F("105")'>active</button> 
      <button id='106' type='button' class='button button_words' onclick='F("106")'>control</button> 
      <button id='107' type='button' class='button button_words' onclick='F("107")'>of</button> 
      <button id='108' type='button' class='button button_words' onclick='F("108")'>the</button> 
      <button id='109' type='button' class='button button_words' onclick='F("109")'>photonic</button> 
      <button id='110' type='button' class='button button_words' onclick='F("110")'>density</button> 
      <button id='111' type='button' class='button button_words' onclick='F("111")'>of</button> 
      <button id='112' type='button' class='button button_words' onclick='F("112")'>states</button> 
      <button id='113' type='button' class='button button_words' onclick='F("113")'>at</button> 
      <button id='114' type='button' class='button button_words' onclick='F("114")'>deep</button> 
      <button id='115' type='button' class='button button_words' onclick='F("115")'>subwavelength</button> 
      <button id='116' type='button' class='button button_words' onclick='F("116")'>scale</button> 
      <button id='117' type='button' class='button button_words' onclick='F("117")'>.</button> 
    </div>
    <button type='button' style='width:200px;margin-top:20px;' onclick='show_existing_annotation({{annotation_exist}})'>Load annotation</button>
    <button type='button' style='width:200px;margin-top:10px;' onclick='saveAnnotation()'>Generate annotation</button>
    <input style='width:700px;margin-top:10px;' type='text' id='show' value=''/>
    <button type='button' onclick='copyAnnotation()' style='width:200px;'>Copy annotation</button>
    <a style='margin-top:20px;'class='action' href='{{ url_for("mlip.update", id=ID) }}'>Finish</a>
    <script>
    const annotation = {};
    function Select_Func(Class) {
      if  (Class === 'MATERIAL') F = Func_MATERIAL
      if  (Class === 'MLIP') F = Func_MLIP
      if  (Class === 'PROPERTY') F = Func_PROPERTY
      if  (Class === 'PHENOMENON') F = Func_PHENOMENON
      if  (Class === 'SIMULATION') F = Func_SIMULATION
      if  (Class === 'VALUE') F = Func_VALUE
      if  (Class === 'APPLICATION') F = Func_APPLICATION
      if  (Class === 'UNSELECT') F = Func_UNSELECT
    }
    function Func_MATERIAL(id) {
      document.getElementById(id).style.backgroundColor = 'red';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'MATERIAL';
    }
    function Func_MLIP(id) {
      document.getElementById(id).style.backgroundColor = 'blue';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'MLIP';
    }
    function Func_PROPERTY(id) {
      document.getElementById(id).style.backgroundColor = 'magenta';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'PROPERTY';
    }
    function Func_PHENOMENON(id) {
      document.getElementById(id).style.backgroundColor = 'teal';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'PHENOMENON';
    }
    function Func_SIMULATION(id) {
      document.getElementById(id).style.backgroundColor = 'green';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'SIMULATION';
    }
    function Func_VALUE(id) {
      document.getElementById(id).style.backgroundColor = 'indigo';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'VALUE';
    }
    function Func_APPLICATION(id) {
      document.getElementById(id).style.backgroundColor = 'darkorange';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'APPLICATION';
    }
    function Func_UNSELECT(id) {
      document.getElementById(id).style.backgroundColor = 'white';
      document.getElementById(id).style.color = 'black';
      delete annotation[id];
    }
    function show_existing_annotation(anno) {
      for (let [key, Class] of Object.entries(anno)) {
          Select_Func(Class);
          F(key);
      }
    }
    function saveAnnotation() {
      var anno = JSON.stringify(annotation);
      document.getElementById('show').value = anno;
    }
    function copyAnnotation() {
      var copyText = document.getElementById('show');
      copyText.select();
      navigator.clipboard.writeText(copyText.value);
    }
    </script>
  </form>
{% endblock %}
