{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Annotate{% endblock %}</h1>
{% endblock %}
{% block content %}
  <form method='post'>
    <style>
    .button {
      padding: 4px 8px;
      margin: 4px 2px;
      border-color: gray;
      color: white; 
    }
    .button:hover {
      font-weight : bold; 
    }
    .button_MATERIAL {
      background-color: red; 
    }
    .button_MLIP {
      background-color: blue; 
    }
    .button_PROPERTY {
      background-color: magenta; 
    }
    .button_PHENOMENON {
      background-color: teal; 
    }
    .button_SIMULATION {
      background-color: green; 
    }
    .button_VALUE {
      background-color: indigo; 
    }
    .button_APPLICATION {
      background-color: darkorange; 
    }
    .button_UNSELECT {
      background-color: white; 
      color: black; 
    }
    .button_words {
      background-color: white; 
      color: black; 
    }
    .button_words:hover {
      background-color: yellow; 
    }
    </style>
    <div> 
      <b>Class:&nbsp;</b> 
      <button type='button' class='button button_MATERIAL' onclick='Select_Func("MATERIAL")'>MATERIAL</button>
      <button type='button' class='button button_MLIP' onclick='Select_Func("MLIP")'>MLIP</button> 
      <button type='button' class='button button_PROPERTY' onclick='Select_Func("PROPERTY")'>PROPERTY</button> 
      <button type='button' class='button button_PHENOMENON' onclick='Select_Func("PHENOMENON")'>PHENOMENON</button> 
      <button type='button' class='button button_SIMULATION' onclick='Select_Func("SIMULATION")'>SIMULATION</button> 
      <button type='button' class='button button_VALUE' onclick='Select_Func("VALUE")'>VALUE</button> 
      <button type='button' class='button button_APPLICATION' onclick='Select_Func("APPLICATION")'>APPLICATION</button> 
      <button type='button' class='button button_UNSELECT' onclick='Select_Func("UNSELECT")'>UNSELECT</button> 
    </div>
    <div>
      <button id='0' type='button' class='button button_words' onclick='F("0")'>Nanoporous</button> 
      <button id='1' type='button' class='button button_words' onclick='F("1")'>materials</button> 
      <button id='2' type='button' class='button button_words' onclick='F("2")'>such</button> 
      <button id='3' type='button' class='button button_words' onclick='F("3")'>as</button> 
      <button id='4' type='button' class='button button_words' onclick='F("4")'>metal</button> 
      <button id='5' type='button' class='button button_words' onclick='F("5")'>–</button> 
      <button id='6' type='button' class='button button_words' onclick='F("6")'>organic</button> 
      <button id='7' type='button' class='button button_words' onclick='F("7")'>frameworks</button> 
      <button id='8' type='button' class='button button_words' onclick='F("8")'>(</button> 
      <button id='9' type='button' class='button button_words' onclick='F("9")'>MOFs</button> 
      <button id='10' type='button' class='button button_words' onclick='F("10")'>)</button> 
      <button id='11' type='button' class='button button_words' onclick='F("11")'>have</button> 
      <button id='12' type='button' class='button button_words' onclick='F("12")'>been</button> 
      <button id='13' type='button' class='button button_words' onclick='F("13")'>extensively</button> 
      <button id='14' type='button' class='button button_words' onclick='F("14")'>studied</button> 
      <button id='15' type='button' class='button button_words' onclick='F("15")'>for</button> 
      <button id='16' type='button' class='button button_words' onclick='F("16")'>their</button> 
      <button id='17' type='button' class='button button_words' onclick='F("17")'>potential</button> 
      <button id='18' type='button' class='button button_words' onclick='F("18")'>for</button> 
      <button id='19' type='button' class='button button_words' onclick='F("19")'>adsorption</button> 
      <button id='20' type='button' class='button button_words' onclick='F("20")'>and</button> 
      <button id='21' type='button' class='button button_words' onclick='F("21")'>separation</button> 
      <button id='22' type='button' class='button button_words' onclick='F("22")'>applications</button> 
      <button id='23' type='button' class='button button_words' onclick='F("23")'>.</button> 
      <button id='24' type='button' class='button button_words' onclick='F("24")'>In</button> 
      <button id='25' type='button' class='button button_words' onclick='F("25")'>this</button> 
      <button id='26' type='button' class='button button_words' onclick='F("26")'>respect</button> 
      <button id='27' type='button' class='button button_words' onclick='F("27")'>,</button> 
      <button id='28' type='button' class='button button_words' onclick='F("28")'>grand</button> 
      <button id='29' type='button' class='button button_words' onclick='F("29")'>canonical</button> 
      <button id='30' type='button' class='button button_words' onclick='F("30")'>Monte</button> 
      <button id='31' type='button' class='button button_words' onclick='F("31")'>Carlo</button> 
      <button id='32' type='button' class='button button_words' onclick='F("32")'>(</button> 
      <button id='33' type='button' class='button button_words' onclick='F("33")'>GCMC</button> 
      <button id='34' type='button' class='button button_words' onclick='F("34")'>)</button> 
      <button id='35' type='button' class='button button_words' onclick='F("35")'>simulations</button> 
      <button id='36' type='button' class='button button_words' onclick='F("36")'>have</button> 
      <button id='37' type='button' class='button button_words' onclick='F("37")'>become</button> 
      <button id='38' type='button' class='button button_words' onclick='F("38")'>a</button> 
      <button id='39' type='button' class='button button_words' onclick='F("39")'>well</button> 
      <button id='40' type='button' class='button button_words' onclick='F("40")'>-</button> 
      <button id='41' type='button' class='button button_words' onclick='F("41")'>established</button> 
      <button id='42' type='button' class='button button_words' onclick='F("42")'>tool</button> 
      <button id='43' type='button' class='button button_words' onclick='F("43")'>for</button> 
      <button id='44' type='button' class='button button_words' onclick='F("44")'>computational</button> 
      <button id='45' type='button' class='button button_words' onclick='F("45")'>screenings</button> 
      <button id='46' type='button' class='button button_words' onclick='F("46")'>of</button> 
      <button id='47' type='button' class='button button_words' onclick='F("47")'>the</button> 
      <button id='48' type='button' class='button button_words' onclick='F("48")'>adsorption</button> 
      <button id='49' type='button' class='button button_words' onclick='F("49")'>properties</button> 
      <button id='50' type='button' class='button button_words' onclick='F("50")'>of</button> 
      <button id='51' type='button' class='button button_words' onclick='F("51")'>large</button> 
      <button id='52' type='button' class='button button_words' onclick='F("52")'>sets</button> 
      <button id='53' type='button' class='button button_words' onclick='F("53")'>of</button> 
      <button id='54' type='button' class='button button_words' onclick='F("54")'>MOFs</button> 
      <button id='55' type='button' class='button button_words' onclick='F("55")'>.</button> 
      <button id='56' type='button' class='button button_words' onclick='F("56")'>However</button> 
      <button id='57' type='button' class='button button_words' onclick='F("57")'>,</button> 
      <button id='58' type='button' class='button button_words' onclick='F("58")'>their</button> 
      <button id='59' type='button' class='button button_words' onclick='F("59")'>reliance</button> 
      <button id='60' type='button' class='button button_words' onclick='F("60")'>on</button> 
      <button id='61' type='button' class='button button_words' onclick='F("61")'>empirical</button> 
      <button id='62' type='button' class='button button_words' onclick='F("62")'>force</button> 
      <button id='63' type='button' class='button button_words' onclick='F("63")'>field</button> 
      <button id='64' type='button' class='button button_words' onclick='F("64")'>potentials</button> 
      <button id='65' type='button' class='button button_words' onclick='F("65")'>has</button> 
      <button id='66' type='button' class='button button_words' onclick='F("66")'>limited</button> 
      <button id='67' type='button' class='button button_words' onclick='F("67")'>the</button> 
      <button id='68' type='button' class='button button_words' onclick='F("68")'>accuracy</button> 
      <button id='69' type='button' class='button button_words' onclick='F("69")'>with</button> 
      <button id='70' type='button' class='button button_words' onclick='F("70")'>which</button> 
      <button id='71' type='button' class='button button_words' onclick='F("71")'>this</button> 
      <button id='72' type='button' class='button button_words' onclick='F("72")'>tool</button> 
      <button id='73' type='button' class='button button_words' onclick='F("73")'>can</button> 
      <button id='74' type='button' class='button button_words' onclick='F("74")'>be</button> 
      <button id='75' type='button' class='button button_words' onclick='F("75")'>applied</button> 
      <button id='76' type='button' class='button button_words' onclick='F("76")'>to</button> 
      <button id='77' type='button' class='button button_words' onclick='F("77")'>MOFs</button> 
      <button id='78' type='button' class='button button_words' onclick='F("78")'>with</button> 
      <button id='79' type='button' class='button button_words' onclick='F("79")'>challenging</button> 
      <button id='80' type='button' class='button button_words' onclick='F("80")'>chemical</button> 
      <button id='81' type='button' class='button button_words' onclick='F("81")'>environments</button> 
      <button id='82' type='button' class='button button_words' onclick='F("82")'>such</button> 
      <button id='83' type='button' class='button button_words' onclick='F("83")'>as</button> 
      <button id='84' type='button' class='button button_words' onclick='F("84")'>open</button> 
      <button id='85' type='button' class='button button_words' onclick='F("85")'>-</button> 
      <button id='86' type='button' class='button button_words' onclick='F("86")'>metal</button> 
      <button id='87' type='button' class='button button_words' onclick='F("87")'>sites</button> 
      <button id='88' type='button' class='button button_words' onclick='F("88")'>.</button> 
      <button id='89' type='button' class='button button_words' onclick='F("89")'>On</button> 
      <button id='90' type='button' class='button button_words' onclick='F("90")'>the</button> 
      <button id='91' type='button' class='button button_words' onclick='F("91")'>other</button> 
      <button id='92' type='button' class='button button_words' onclick='F("92")'>hand</button> 
      <button id='93' type='button' class='button button_words' onclick='F("93")'>,</button> 
      <button id='94' type='button' class='button button_words' onclick='F("94")'>density</button> 
      <button id='95' type='button' class='button button_words' onclick='F("95")'>-</button> 
      <button id='96' type='button' class='button button_words' onclick='F("96")'>functional</button> 
      <button id='97' type='button' class='button button_words' onclick='F("97")'>theory</button> 
      <button id='98' type='button' class='button button_words' onclick='F("98")'>(</button> 
      <button id='99' type='button' class='button button_words' onclick='F("99")'>DFT</button> 
      <button id='100' type='button' class='button button_words' onclick='F("100")'>)</button> 
      <button id='101' type='button' class='button button_words' onclick='F("101")'>is</button> 
      <button id='102' type='button' class='button button_words' onclick='F("102")'>too</button> 
      <button id='103' type='button' class='button button_words' onclick='F("103")'>computationally</button> 
      <button id='104' type='button' class='button button_words' onclick='F("104")'>demanding</button> 
      <button id='105' type='button' class='button button_words' onclick='F("105")'>to</button> 
      <button id='106' type='button' class='button button_words' onclick='F("106")'>be</button> 
      <button id='107' type='button' class='button button_words' onclick='F("107")'>routinely</button> 
      <button id='108' type='button' class='button button_words' onclick='F("108")'>employed</button> 
      <button id='109' type='button' class='button button_words' onclick='F("109")'>in</button> 
      <button id='110' type='button' class='button button_words' onclick='F("110")'>GCMC</button> 
      <button id='111' type='button' class='button button_words' onclick='F("111")'>simulations</button> 
      <button id='112' type='button' class='button button_words' onclick='F("112")'>due</button> 
      <button id='113' type='button' class='button button_words' onclick='F("113")'>to</button> 
      <button id='114' type='button' class='button button_words' onclick='F("114")'>the</button> 
      <button id='115' type='button' class='button button_words' onclick='F("115")'>excessive</button> 
      <button id='116' type='button' class='button button_words' onclick='F("116")'>number</button> 
      <button id='117' type='button' class='button button_words' onclick='F("117")'>of</button> 
      <button id='118' type='button' class='button button_words' onclick='F("118")'>required</button> 
      <button id='119' type='button' class='button button_words' onclick='F("119")'>function</button> 
      <button id='120' type='button' class='button button_words' onclick='F("120")'>evaluations</button> 
      <button id='121' type='button' class='button button_words' onclick='F("121")'>.</button> 
      <button id='122' type='button' class='button button_words' onclick='F("122")'>Therefore</button> 
      <button id='123' type='button' class='button button_words' onclick='F("123")'>,</button> 
      <button id='124' type='button' class='button button_words' onclick='F("124")'>we</button> 
      <button id='125' type='button' class='button button_words' onclick='F("125")'>propose</button> 
      <button id='126' type='button' class='button button_words' onclick='F("126")'>in</button> 
      <button id='127' type='button' class='button button_words' onclick='F("127")'>this</button> 
      <button id='128' type='button' class='button button_words' onclick='F("128")'>paper</button> 
      <button id='129' type='button' class='button button_words' onclick='F("129")'>a</button> 
      <button id='130' type='button' class='button button_words' onclick='F("130")'>protocol</button> 
      <button id='131' type='button' class='button button_words' onclick='F("131")'>for</button> 
      <button id='132' type='button' class='button button_words' onclick='F("132")'>training</button> 
      <button id='133' type='button' class='button button_words' onclick='F("133")'>machine</button> 
      <button id='134' type='button' class='button button_words' onclick='F("134")'>learning</button> 
      <button id='135' type='button' class='button button_words' onclick='F("135")'>potentials</button> 
      <button id='136' type='button' class='button button_words' onclick='F("136")'>(</button> 
      <button id='137' type='button' class='button button_words' onclick='F("137")'>MLPs</button> 
      <button id='138' type='button' class='button button_words' onclick='F("138")'>)</button> 
      <button id='139' type='button' class='button button_words' onclick='F("139")'>on</button> 
      <button id='140' type='button' class='button button_words' onclick='F("140")'>a</button> 
      <button id='141' type='button' class='button button_words' onclick='F("141")'>limited</button> 
      <button id='142' type='button' class='button button_words' onclick='F("142")'>set</button> 
      <button id='143' type='button' class='button button_words' onclick='F("143")'>of</button> 
      <button id='144' type='button' class='button button_words' onclick='F("144")'>DFT</button> 
      <button id='145' type='button' class='button button_words' onclick='F("145")'>intermolecular</button> 
      <button id='146' type='button' class='button button_words' onclick='F("146")'>interaction</button> 
      <button id='147' type='button' class='button button_words' onclick='F("147")'>energies</button> 
      <button id='148' type='button' class='button button_words' onclick='F("148")'>(</button> 
      <button id='149' type='button' class='button button_words' onclick='F("149")'>and</button> 
      <button id='150' type='button' class='button button_words' onclick='F("150")'>forces</button> 
      <button id='151' type='button' class='button button_words' onclick='F("151")'>)</button> 
      <button id='152' type='button' class='button button_words' onclick='F("152")'>of</button> 
      <button id='153' type='button' class='button button_words' onclick='F("153")'>CO2</button> 
      <button id='154' type='button' class='button button_words' onclick='F("154")'>in</button> 
      <button id='155' type='button' class='button button_words' onclick='F("155")'>ZIF</button> 
      <button id='156' type='button' class='button button_words' onclick='F("156")'>-</button> 
      <button id='157' type='button' class='button button_words' onclick='F("157")'>8</button> 
      <button id='158' type='button' class='button button_words' onclick='F("158")'>and</button> 
      <button id='159' type='button' class='button button_words' onclick='F("159")'>the</button> 
      <button id='160' type='button' class='button button_words' onclick='F("160")'>open</button> 
      <button id='161' type='button' class='button button_words' onclick='F("161")'>-</button> 
      <button id='162' type='button' class='button button_words' onclick='F("162")'>metal</button> 
      <button id='163' type='button' class='button button_words' onclick='F("163")'>site</button> 
      <button id='164' type='button' class='button button_words' onclick='F("164")'>containing</button> 
      <button id='165' type='button' class='button button_words' onclick='F("165")'>Mg</button> 
      <button id='166' type='button' class='button button_words' onclick='F("166")'>-</button> 
      <button id='167' type='button' class='button button_words' onclick='F("167")'>MOF</button> 
      <button id='168' type='button' class='button button_words' onclick='F("168")'>-</button> 
      <button id='169' type='button' class='button button_words' onclick='F("169")'>74</button> 
      <button id='170' type='button' class='button button_words' onclick='F("170")'>,</button> 
      <button id='171' type='button' class='button button_words' onclick='F("171")'>and</button> 
      <button id='172' type='button' class='button button_words' onclick='F("172")'>use</button> 
      <button id='173' type='button' class='button button_words' onclick='F("173")'>the</button> 
      <button id='174' type='button' class='button button_words' onclick='F("174")'>MLPs</button> 
      <button id='175' type='button' class='button button_words' onclick='F("175")'>to</button> 
      <button id='176' type='button' class='button button_words' onclick='F("176")'>derive</button> 
      <button id='177' type='button' class='button button_words' onclick='F("177")'>adsorption</button> 
      <button id='178' type='button' class='button button_words' onclick='F("178")'>isotherms</button> 
      <button id='179' type='button' class='button button_words' onclick='F("179")'>from</button> 
      <button id='180' type='button' class='button button_words' onclick='F("180")'>first</button> 
      <button id='181' type='button' class='button button_words' onclick='F("181")'>principles</button> 
      <button id='182' type='button' class='button button_words' onclick='F("182")'>.</button> 
      <button id='183' type='button' class='button button_words' onclick='F("183")'>We</button> 
      <button id='184' type='button' class='button button_words' onclick='F("184")'>make</button> 
      <button id='185' type='button' class='button button_words' onclick='F("185")'>use</button> 
      <button id='186' type='button' class='button button_words' onclick='F("186")'>of</button> 
      <button id='187' type='button' class='button button_words' onclick='F("187")'>the</button> 
      <button id='188' type='button' class='button button_words' onclick='F("188")'>equivariant</button> 
      <button id='189' type='button' class='button button_words' onclick='F("189")'>NequIP</button> 
      <button id='190' type='button' class='button button_words' onclick='F("190")'>model</button> 
      <button id='191' type='button' class='button button_words' onclick='F("191")'>which</button> 
      <button id='192' type='button' class='button button_words' onclick='F("192")'>has</button> 
      <button id='193' type='button' class='button button_words' onclick='F("193")'>demonstrated</button> 
      <button id='194' type='button' class='button button_words' onclick='F("194")'>excellent</button> 
      <button id='195' type='button' class='button button_words' onclick='F("195")'>data</button> 
      <button id='196' type='button' class='button button_words' onclick='F("196")'>efficiency</button> 
      <button id='197' type='button' class='button button_words' onclick='F("197")'>,</button> 
      <button id='198' type='button' class='button button_words' onclick='F("198")'>and</button> 
      <button id='199' type='button' class='button button_words' onclick='F("199")'>as</button> 
      <button id='200' type='button' class='button button_words' onclick='F("200")'>such</button> 
      <button id='201' type='button' class='button button_words' onclick='F("201")'>an</button> 
      <button id='202' type='button' class='button button_words' onclick='F("202")'>error</button> 
      <button id='203' type='button' class='button button_words' onclick='F("203")'>on</button> 
      <button id='204' type='button' class='button button_words' onclick='F("204")'>the</button> 
      <button id='205' type='button' class='button button_words' onclick='F("205")'>interaction</button> 
      <button id='206' type='button' class='button button_words' onclick='F("206")'>energies</button> 
      <button id='207' type='button' class='button button_words' onclick='F("207")'>below</button> 
      <button id='208' type='button' class='button button_words' onclick='F("208")'>0</button> 
      <button id='209' type='button' class='button button_words' onclick='F("209")'>.</button> 
      <button id='210' type='button' class='button button_words' onclick='F("210")'>2</button> 
      <button id='211' type='button' class='button button_words' onclick='F("211")'>kJ</button> 
      <button id='212' type='button' class='button button_words' onclick='F("212")'>mol</button> 
      <button id='213' type='button' class='button button_words' onclick='F("213")'>–</button> 
      <button id='214' type='button' class='button button_words' onclick='F("214")'>1</button> 
      <button id='215' type='button' class='button button_words' onclick='F("215")'>per</button> 
      <button id='216' type='button' class='button button_words' onclick='F("216")'>adsorbate</button> 
      <button id='217' type='button' class='button button_words' onclick='F("217")'>in</button> 
      <button id='218' type='button' class='button button_words' onclick='F("218")'>ZIF</button> 
      <button id='219' type='button' class='button button_words' onclick='F("219")'>-</button> 
      <button id='220' type='button' class='button button_words' onclick='F("220")'>8</button> 
      <button id='221' type='button' class='button button_words' onclick='F("221")'>was</button> 
      <button id='222' type='button' class='button button_words' onclick='F("222")'>attained</button> 
      <button id='223' type='button' class='button button_words' onclick='F("223")'>.</button> 
      <button id='224' type='button' class='button button_words' onclick='F("224")'>Its</button> 
      <button id='225' type='button' class='button button_words' onclick='F("225")'>use</button> 
      <button id='226' type='button' class='button button_words' onclick='F("226")'>in</button> 
      <button id='227' type='button' class='button button_words' onclick='F("227")'>GCMC</button> 
      <button id='228' type='button' class='button button_words' onclick='F("228")'>simulations</button> 
      <button id='229' type='button' class='button button_words' onclick='F("229")'>results</button> 
      <button id='230' type='button' class='button button_words' onclick='F("230")'>in</button> 
      <button id='231' type='button' class='button button_words' onclick='F("231")'>highly</button> 
      <button id='232' type='button' class='button button_words' onclick='F("232")'>accurate</button> 
      <button id='233' type='button' class='button button_words' onclick='F("233")'>adsorption</button> 
      <button id='234' type='button' class='button button_words' onclick='F("234")'>isotherms</button> 
      <button id='235' type='button' class='button button_words' onclick='F("235")'>and</button> 
      <button id='236' type='button' class='button button_words' onclick='F("236")'>heats</button> 
      <button id='237' type='button' class='button button_words' onclick='F("237")'>of</button> 
      <button id='238' type='button' class='button button_words' onclick='F("238")'>adsorption</button> 
      <button id='239' type='button' class='button button_words' onclick='F("239")'>.</button> 
      <button id='240' type='button' class='button button_words' onclick='F("240")'>For</button> 
      <button id='241' type='button' class='button button_words' onclick='F("241")'>Mg</button> 
      <button id='242' type='button' class='button button_words' onclick='F("242")'>-</button> 
      <button id='243' type='button' class='button button_words' onclick='F("243")'>MOF</button> 
      <button id='244' type='button' class='button button_words' onclick='F("244")'>-</button> 
      <button id='245' type='button' class='button button_words' onclick='F("245")'>74</button> 
      <button id='246' type='button' class='button button_words' onclick='F("246")'>,</button> 
      <button id='247' type='button' class='button button_words' onclick='F("247")'>a</button> 
      <button id='248' type='button' class='button button_words' onclick='F("248")'>large</button> 
      <button id='249' type='button' class='button button_words' onclick='F("249")'>dependence</button> 
      <button id='250' type='button' class='button button_words' onclick='F("250")'>of</button> 
      <button id='251' type='button' class='button button_words' onclick='F("251")'>the</button> 
      <button id='252' type='button' class='button button_words' onclick='F("252")'>obtained</button> 
      <button id='253' type='button' class='button button_words' onclick='F("253")'>results</button> 
      <button id='254' type='button' class='button button_words' onclick='F("254")'>on</button> 
      <button id='255' type='button' class='button button_words' onclick='F("255")'>the</button> 
      <button id='256' type='button' class='button button_words' onclick='F("256")'>used</button> 
      <button id='257' type='button' class='button button_words' onclick='F("257")'>dispersion</button> 
      <button id='258' type='button' class='button button_words' onclick='F("258")'>correction</button> 
      <button id='259' type='button' class='button button_words' onclick='F("259")'>was</button> 
      <button id='260' type='button' class='button button_words' onclick='F("260")'>observed</button> 
      <button id='261' type='button' class='button button_words' onclick='F("261")'>,</button> 
      <button id='262' type='button' class='button button_words' onclick='F("262")'>where</button> 
      <button id='263' type='button' class='button button_words' onclick='F("263")'>PBE</button> 
      <button id='264' type='button' class='button button_words' onclick='F("264")'>-</button> 
      <button id='265' type='button' class='button button_words' onclick='F("265")'>MBD</button> 
      <button id='266' type='button' class='button button_words' onclick='F("266")'>performs</button> 
      <button id='267' type='button' class='button button_words' onclick='F("267")'>the</button> 
      <button id='268' type='button' class='button button_words' onclick='F("268")'>best</button> 
      <button id='269' type='button' class='button button_words' onclick='F("269")'>.</button> 
      <button id='270' type='button' class='button button_words' onclick='F("270")'>Lastly</button> 
      <button id='271' type='button' class='button button_words' onclick='F("271")'>,</button> 
      <button id='272' type='button' class='button button_words' onclick='F("272")'>to</button> 
      <button id='273' type='button' class='button button_words' onclick='F("273")'>test</button> 
      <button id='274' type='button' class='button button_words' onclick='F("274")'>the</button> 
      <button id='275' type='button' class='button button_words' onclick='F("275")'>transferability</button> 
      <button id='276' type='button' class='button button_words' onclick='F("276")'>of</button> 
      <button id='277' type='button' class='button button_words' onclick='F("277")'>the</button> 
      <button id='278' type='button' class='button button_words' onclick='F("278")'>MLP</button> 
      <button id='279' type='button' class='button button_words' onclick='F("279")'>trained</button> 
      <button id='280' type='button' class='button button_words' onclick='F("280")'>on</button> 
      <button id='281' type='button' class='button button_words' onclick='F("281")'>ZIF</button> 
      <button id='282' type='button' class='button button_words' onclick='F("282")'>-</button> 
      <button id='283' type='button' class='button button_words' onclick='F("283")'>8</button> 
      <button id='284' type='button' class='button button_words' onclick='F("284")'>,</button> 
      <button id='285' type='button' class='button button_words' onclick='F("285")'>it</button> 
      <button id='286' type='button' class='button button_words' onclick='F("286")'>was</button> 
      <button id='287' type='button' class='button button_words' onclick='F("287")'>applied</button> 
      <button id='288' type='button' class='button button_words' onclick='F("288")'>to</button> 
      <button id='289' type='button' class='button button_words' onclick='F("289")'>ZIF</button> 
      <button id='290' type='button' class='button button_words' onclick='F("290")'>-</button> 
      <button id='291' type='button' class='button button_words' onclick='F("291")'>3</button> 
      <button id='292' type='button' class='button button_words' onclick='F("292")'>,</button> 
      <button id='293' type='button' class='button button_words' onclick='F("293")'>ZIF</button> 
      <button id='294' type='button' class='button button_words' onclick='F("294")'>-</button> 
      <button id='295' type='button' class='button button_words' onclick='F("295")'>4</button> 
      <button id='296' type='button' class='button button_words' onclick='F("296")'>,</button> 
      <button id='297' type='button' class='button button_words' onclick='F("297")'>and</button> 
      <button id='298' type='button' class='button button_words' onclick='F("298")'>ZIF</button> 
      <button id='299' type='button' class='button button_words' onclick='F("299")'>-</button> 
      <button id='300' type='button' class='button button_words' onclick='F("300")'>6</button> 
      <button id='301' type='button' class='button button_words' onclick='F("301")'>,</button> 
      <button id='302' type='button' class='button button_words' onclick='F("302")'>which</button> 
      <button id='303' type='button' class='button button_words' onclick='F("303")'>resulted</button> 
      <button id='304' type='button' class='button button_words' onclick='F("304")'>in</button> 
      <button id='305' type='button' class='button button_words' onclick='F("305")'>large</button> 
      <button id='306' type='button' class='button button_words' onclick='F("306")'>deviations</button> 
      <button id='307' type='button' class='button button_words' onclick='F("307")'>in</button> 
      <button id='308' type='button' class='button button_words' onclick='F("308")'>the</button> 
      <button id='309' type='button' class='button button_words' onclick='F("309")'>predicted</button> 
      <button id='310' type='button' class='button button_words' onclick='F("310")'>adsorption</button> 
      <button id='311' type='button' class='button button_words' onclick='F("311")'>isotherms</button> 
      <button id='312' type='button' class='button button_words' onclick='F("312")'>and</button> 
      <button id='313' type='button' class='button button_words' onclick='F("313")'>heats</button> 
      <button id='314' type='button' class='button button_words' onclick='F("314")'>of</button> 
      <button id='315' type='button' class='button button_words' onclick='F("315")'>adsorption</button> 
      <button id='316' type='button' class='button button_words' onclick='F("316")'>.</button> 
      <button id='317' type='button' class='button button_words' onclick='F("317")'>Only</button> 
      <button id='318' type='button' class='button button_words' onclick='F("318")'>when</button> 
      <button id='319' type='button' class='button button_words' onclick='F("319")'>explicitly</button> 
      <button id='320' type='button' class='button button_words' onclick='F("320")'>training</button> 
      <button id='321' type='button' class='button button_words' onclick='F("321")'>on</button> 
      <button id='322' type='button' class='button button_words' onclick='F("322")'>data</button> 
      <button id='323' type='button' class='button button_words' onclick='F("323")'>for</button> 
      <button id='324' type='button' class='button button_words' onclick='F("324")'>all</button> 
      <button id='325' type='button' class='button button_words' onclick='F("325")'>ZIFs</button> 
      <button id='326' type='button' class='button button_words' onclick='F("326")'>,</button> 
      <button id='327' type='button' class='button button_words' onclick='F("327")'>accurate</button> 
      <button id='328' type='button' class='button button_words' onclick='F("328")'>adsorption</button> 
      <button id='329' type='button' class='button button_words' onclick='F("329")'>properties</button> 
      <button id='330' type='button' class='button button_words' onclick='F("330")'>were</button> 
      <button id='331' type='button' class='button button_words' onclick='F("331")'>obtained</button> 
      <button id='332' type='button' class='button button_words' onclick='F("332")'>.</button> 
      <button id='333' type='button' class='button button_words' onclick='F("333")'>As</button> 
      <button id='334' type='button' class='button button_words' onclick='F("334")'>the</button> 
      <button id='335' type='button' class='button button_words' onclick='F("335")'>proposed</button> 
      <button id='336' type='button' class='button button_words' onclick='F("336")'>methodology</button> 
      <button id='337' type='button' class='button button_words' onclick='F("337")'>is</button> 
      <button id='338' type='button' class='button button_words' onclick='F("338")'>widely</button> 
      <button id='339' type='button' class='button button_words' onclick='F("339")'>applicable</button> 
      <button id='340' type='button' class='button button_words' onclick='F("340")'>to</button> 
      <button id='341' type='button' class='button button_words' onclick='F("341")'>guest</button> 
      <button id='342' type='button' class='button button_words' onclick='F("342")'>adsorption</button> 
      <button id='343' type='button' class='button button_words' onclick='F("343")'>in</button> 
      <button id='344' type='button' class='button button_words' onclick='F("344")'>nanoporous</button> 
      <button id='345' type='button' class='button button_words' onclick='F("345")'>materials</button> 
      <button id='346' type='button' class='button button_words' onclick='F("346")'>,</button> 
      <button id='347' type='button' class='button button_words' onclick='F("347")'>it</button> 
      <button id='348' type='button' class='button button_words' onclick='F("348")'>opens</button> 
      <button id='349' type='button' class='button button_words' onclick='F("349")'>up</button> 
      <button id='350' type='button' class='button button_words' onclick='F("350")'>the</button> 
      <button id='351' type='button' class='button button_words' onclick='F("351")'>possibility</button> 
      <button id='352' type='button' class='button button_words' onclick='F("352")'>for</button> 
      <button id='353' type='button' class='button button_words' onclick='F("353")'>training</button> 
      <button id='354' type='button' class='button button_words' onclick='F("354")'>general</button> 
      <button id='355' type='button' class='button button_words' onclick='F("355")'>-</button> 
      <button id='356' type='button' class='button button_words' onclick='F("356")'>purpose</button> 
      <button id='357' type='button' class='button button_words' onclick='F("357")'>MLPs</button> 
      <button id='358' type='button' class='button button_words' onclick='F("358")'>to</button> 
      <button id='359' type='button' class='button button_words' onclick='F("359")'>perform</button> 
      <button id='360' type='button' class='button button_words' onclick='F("360")'>highly</button> 
      <button id='361' type='button' class='button button_words' onclick='F("361")'>accurate</button> 
      <button id='362' type='button' class='button button_words' onclick='F("362")'>investigations</button> 
      <button id='363' type='button' class='button button_words' onclick='F("363")'>of</button> 
      <button id='364' type='button' class='button button_words' onclick='F("364")'>guest</button> 
      <button id='365' type='button' class='button button_words' onclick='F("365")'>adsorption</button> 
      <button id='366' type='button' class='button button_words' onclick='F("366")'>.</button> 
    </div>
    <button type='button' style='width:200px;margin-top:20px;' onclick='show_existing_annotation({{annotation_exist}})'>Load annotation</button>
    <button type='button' style='width:200px;margin-top:10px;' onclick='saveAnnotation()'>Generate annotation</button>
    <input style='width:700px;margin-top:10px;' type='text' id='show' value=''/>
    <button type='button' onclick='copyAnnotation()' style='width:200px;'>Copy annotation</button>
    <a style='margin-top:20px;'class='action' href='{{ url_for("mlip.update", id=ID) }}'>Finish</a>
    <script>
    const annotation = {};
    function Select_Func(Class) {
      if  (Class === 'MATERIAL') F = Func_MATERIAL
      if  (Class === 'MLIP') F = Func_MLIP
      if  (Class === 'PROPERTY') F = Func_PROPERTY
      if  (Class === 'PHENOMENON') F = Func_PHENOMENON
      if  (Class === 'SIMULATION') F = Func_SIMULATION
      if  (Class === 'VALUE') F = Func_VALUE
      if  (Class === 'APPLICATION') F = Func_APPLICATION
      if  (Class === 'UNSELECT') F = Func_UNSELECT
    }
    function Func_MATERIAL(id) {
      document.getElementById(id).style.backgroundColor = 'red';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'MATERIAL';
    }
    function Func_MLIP(id) {
      document.getElementById(id).style.backgroundColor = 'blue';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'MLIP';
    }
    function Func_PROPERTY(id) {
      document.getElementById(id).style.backgroundColor = 'magenta';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'PROPERTY';
    }
    function Func_PHENOMENON(id) {
      document.getElementById(id).style.backgroundColor = 'teal';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'PHENOMENON';
    }
    function Func_SIMULATION(id) {
      document.getElementById(id).style.backgroundColor = 'green';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'SIMULATION';
    }
    function Func_VALUE(id) {
      document.getElementById(id).style.backgroundColor = 'indigo';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'VALUE';
    }
    function Func_APPLICATION(id) {
      document.getElementById(id).style.backgroundColor = 'darkorange';
      document.getElementById(id).style.color = 'white';
      annotation[id] = 'APPLICATION';
    }
    function Func_UNSELECT(id) {
      document.getElementById(id).style.backgroundColor = 'white';
      document.getElementById(id).style.color = 'black';
      delete annotation[id];
    }
    function show_existing_annotation(anno) {
      for (let [key, Class] of Object.entries(anno)) {
          Select_Func(Class);
          F(key);
      }
    }
    function saveAnnotation() {
      var anno = JSON.stringify(annotation);
      document.getElementById('show').value = anno;
    }
    function copyAnnotation() {
      var copyText = document.getElementById('show');
      copyText.select();
      navigator.clipboard.writeText(copyText.value);
    }
    </script>
  </form>
{% endblock %}
